.contactmain{
    background-image: linear-gradient(180deg,rgb(253, 251, 251),rgb(206, 234, 223));
  }
  .instagram{
    font-size: 400%;
  }
  .twitter{
    font-size: 400%;
  }
  .Linkedin{
    font-size: 400%;
  }
  .contausinput1{
    outline: none;
    border: none;
  }
  .contactdiv{
    border: 1px solid black;
    border-radius:20px;
  }
  .buttonsumbit{
    background:none;
    color:white; 
    border: none;
  } 

  .contactinput1::placeholder{
    color: black;
  }
  .gmap_iframe {
    height: 100%;
  }
